body {
    text-align: center;
}
.modal{
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow:auto;
    background: rgba(0,0,0,0.3);
}
.modal-content{
    background: #ffffff url('../img/geometry2.png');
    margin: 10% auto;
    padding: 20px;
    width:30%;
    height: 30%;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 8px;
    animation-name: modalopening;
    animation-duration: 1.5s;
}
.closeBtn{
    float:right;
    font-size: 150%;
}
.closeBtn:hover{
    cursor:pointer;
}
.play-again{
    background:  #02b3e4;
    padding: 2em;
    border: 2em;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 8px;
    width: 100%;
}
.play-again:hover{
    background: #02ccba;
}
.footer{
    padding-top:10px;
    align-content: center;
}
@keyframes modalopening{
    from{ opacity:0}
    to{ opasity:1}
}
@keyframes modalclosing{
    from{ opacity:1}
    to{ opasity:0}
}
